// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
// Using CDN for font-awesome
@import 'bootstrap/scss/bootstrap';


// Your CSS partials
@import "components/index";
@import "pages/index";

body{
  color: white;
  background-color: $black-back;
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: hidden;
}
// Scroll design

body::-webkit-scrollbar{
  width: 0.01rem;
}

body::-webkit-scrollbar-thumb {
  background: purple;
}

main{
  margin-left: 5rem;
  padding: 1rem;
}

:root{
  font-size: 16px;
}
