<div class="container w-100 mt-3">
  <h1>About me</h1>
</div>
<div class="container d-flex">
  <div class="container">
    <p>I am a passionate student, I love to develop new products and participate in projects that allow me to grow as a professional, so I am always active on sites like GitHub where I can share and get inspired with ideas from all developers around the world.
      I can also spend hours and hours learning new skills that allow me to improve my productivity and perform better and better work.
      I think the world of web development is like a book that tells a never-ending story.</p>
  </div>
  <div class="container">
    <p>I have participated in the development of applications such as Toys Market place, Raibu on, and Ravenous, mainly I have worked as a lead developer, covering functions of fullstack developer, but my strong point is the front-end because I am a professional musician and son of two great artists who taught me the beauty of art. that's why I consider myself a lover of colors and fairy tales.</p>
  </div>
</div>
