<div class="w-100 banner">
  <video src='../assets/images/space.mp4' class="video" autoplay muted loop></video>
  <div class="banner-container">
    <div class="banner-text">
      <h1>Emanuel Caro</h1>
      <h3>Software Developer</h3>
      <p class="profile-text">passionate student, enjoy designing and developing user interfaces!</p>
    </div>
    <div class="img-container">
      <%= image_tag "me.jpg", class:"banner-photo" %>
    </div>
  </div>
</div>
