<div class="w-100 banner">
  <video src='../assets/images/space.mp4' class="video" autoplay muted loop></video>
  <div class="banner-container">
    <div class="banner-text">
      <h1>Emanuel Caro</h1>
      <h3>Software Developer</h3>
    </div>
    <%= image_tag "me.jpg", class:"banner-photo" %>
  </div>
  <div>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus, nostrum. Sed architecto, doloribus provident neque at, necessitatibus nulla deleniti delectus nesciunt vero sint, id asperiores odit labore tenetur molestias! Laboriosam minus esse vel, inventore fuga saepe mollitia facilis blanditiis doloremque hic aperiam, debitis corporis eveniet rem, harum voluptate quis ad!</p>
  </div>
</div>
