<div class="w-100 banner">
  <video src='../assets/images/space.mp4' class="video" autoplay muted loop></video>
  <div class="banner-container">
    <div class="banner-text">
      <h1>Emanuel Caro</h1>
      <h3>Software Developer</h3>
      <p id="typed-text" class="profile-text"></p>
    </div>
    <div class="img-container">
      <%= image_tag "emanuels.png", class:"banner-photo" %>
    </div>
  </div>
  <div class="social-container">
    <% link_to "https://github.com/darkemlord", class:"social-icon", target: "_blank" do%>
      <i id="social-icon" class="fab fa-github"></i>
    <% end %>
    <% link_to "https://www.facebook.com/emanuel.caro.129", class:"social-icon", target: "_blank" do%>
      <i id="social-icon" class="fab fa-facebook"></i>
    <% end %>
    <% link_to "https://www.instagram.com/emanuelcaro1/", class:"social-icon", target: "_blank" do%>
      <i id="social-icon" class="fab fa-instagram"></i>
    <% end %>
    <% link_to "https://www.linkedin.com/in/emanuelcaro/", class:"social-icon", target: "_blank" do%>
      <i id="social-icon" class="fab fa-linkedin"></i>
    <% end %>
  </div>
</div>
