<div class="container d-flex">
  <div class="contact w-100 mr-3">
    <h1 class="container title">Contact me!</h1>
  </div>
  <div class="skills w-100">
    <h1 class="container title">My Skills</h1>
  </div>
</div>
