// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

//emanuel portafolio
$purple: #5A3E79;
$black-back: #130329;
$mauve-back: #A76286;
$project-back: #211522;
