.banner{
    height: 100vh;
    width:  100%;
    object-fit: contain;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
    font-size: 4rem;
    text-shadow:7px 2px 2px rgba(0,0,0,0.55);
    margin-top: 0;
    }
    h3{
      font-size: 2.5rem;
      text-shadow:7px 2px 2px rgba(0,0,0,0.55);
    }
    p{
      color: white;
      font-size: 1.5rem;
      height: 100px;
      text-shadow:7px 2px 2px rgba(0,0,0,0.55);
    }
}


.video{
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
     z-index: -1;
}


.banner-container{
  margin-top: 5rem;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.banner-photo{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: solid 5px white;
  box-shadow: 10px -5px 20px 8px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px -5px 20px 8px rgba(0,0,0,0.75);
  -moz-box-shadow: 16px -5px 20px 8px rgba(0,0,0,0.75);
}

.banner-text{
  color: white;
  margin-right: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.profile-text{
  max-width: 350px;
}

.img-container{
  display: flex;
  align-items: center;
  margin-left: 4rem;
}

.typed-cursor{
  display: none;
}

.social-container{
  display: flex;
  justify-content: center;
  width: 100%;
}

#social-icon{
  font-size: 3rem;
  color: white;
  margin-left: 2rem;
  margin-right: 2rem;
  &:hover{
    color: purple;
  }
}

@media (max-width: 800px){
.banner-photo{
  width: 150px;
  height: 150px;
}

.banner{
    height: 100vh;
    width: 100%;
    h1{
    font-size: 3rem;
    }
    h3{
      font-size: 2rem;
    }
    p{
      font-size: 1.5rem;
    }
}
.profile-text{
  max-width: 150px;
}

.social-container{
  margin-top: 100px;
}
}

@media (max-width: 600px){
    .img-container{
    margin-left: 0px;
    margin-right: 30px;
  }
  .banner-text{
    margin-right: 30px;
    margin-left: 30px;
  }
}

@media (max-width: 450px){
  .banner{
    height: 100vh;
    width: 100%;
    h1{
    font-size: 2rem;
    }
    h3{
      font-size: 1rem;
    }
    p{
      font-size: 0.8rem;
    }
}
  .banner-photo{
    display: auto;
  }
  .img-container{
    margin-left: 0px;
    margin-right: 15px;
  }
  .banner-text{
    margin-right: 15px;
    margin-left: 15px;
  }
  .social-container{
  margin-top: 0;
}
#social-icon{
  margin-right: 10px;
  margin-left: 10px;
}
}
