// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "canvas";
@import "banner";
@import "about";
@import "card";
@import "project";
@import "form";
@import "footer";
