.navbar-lewagon {
  justify-content: space-between;
  width: 100%;
  background: #5A3E79;
  color: white;
  position: fixed;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.nav-link{
  a{
    color: white;
  }
}
.navbar-lewagon .navbar-brand img {
  width: 110px;
  height: 50px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(273deg) brightness(106%) contrast(101%);

}


.navbar-light .navbar-nav .nav-link {
    color:white;
}
