.project-card{
  background-color: $project-back;
  border-radius: 15px;
  height: 500px;
}

.card-icon{
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

.project-card{
  display: flex;
}
.card-image{
  margin: auto;
  display: flex;
  justify-content: center;
  background-color: $mauve-back;
  border-radius: 10px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  z-index: 1;
  &:hover{
    background-color: white;
  }
  img{
    width: 50%;
    object-fit: cover;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.card-left{
  display: flex;
  flex-direction: column;
  h1{
    background-color: $mauve-back;
    border-radius: 10px;
    margin-top: 1rem;
    text-align: center;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  }
}

.card-right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  p{
    margin-top: 2rem;
    font-size: 1.5rem;
  }
}
.icon-container{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}
.carousel-control-prev-icon{
  margin-right: 90px;
}

.carousel-control-next-icon{
  margin-left: 90px;
}

@media(max-width: 1000px){
  .card-right{
    p{
      font-size: 1rem;
    }
  }
}

@media (max-width: 770px){

  .project-card{
    flex-direction: column;
    justify-content: space-between;
  }
  .card-image{
    margin: 0;
    img{
      border-radius: 50px;
      width: 200px;
      height: 200px;
      object-fit: contain;
    }
  }
  .carousel-control-prev-icon{
    margin-right: 0px;
  }

  .carousel-control-next-icon{
    margin-left: 0px;
  }
  .card-icon{
    width: 35px;
    height: 35px;
  }

    .card-right{

    p{
      font-size: 0.8rem;
    }
  }
  .card-left{
    h1{
      font-size: 2rem;
    }
  }
}

@media (max-width: 420px){
   .card-image{
    margin: 0;
    img{
      border-radius: 50px;
      width: 170px;
      height: 170px;
      object-fit: contain;
    }
  }
      .card-right{
    p{
      font-size: 0.8rem;
    }
  }

    .card-icon{
    width: 28px;
    height: 28px;
  }
}


@media (max-width: 370px){
   .card-image{
    margin: 0;
    img{
      border-radius: 50px;
      width: 130px;
      height: 130px;
      object-fit: contain;
    }
  }
}
